* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #9a9994;
}

main {
  margin: 10vh 0;
  padding: 0;
  width: 100vw;
}

#wrapper_puchi {
  margin-left: 5vw;
  margin-right: 5vw;
  width: 90vw;
  overflow: hidden;
}

img {
  width: 5vw;
  vertical-align: bottom; /* 画像下に現れる余白を消す */
  float: left;
  user-drag: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
  cursor: pointer;
  /* pointer-events: none; */
}

#text {
  text-align: center;
  font-size: 5em;
}
